
.container {width:600px;}

h1 {font-size:24px; border-bottom:3px solid #eee; padding:10px 0; margin:20px 0;}
h4 {margin:20px 0 0 0;}
h6 {margin:-10px 0 10px 0;}

.date {font-family:monospace; margin-right:5px;}
.posts {margin-top:-5px;}
.posts a {margin-left:5px;}

pre code {background-color:inherit;}
pre, table, .tags {margin:20px 0;}
.tags span {font-size:13px; color:#bfbfbf; text-transform:uppercase;
            font-weight:bold; margin-right:5px;}

tr.top th, td.y, td.n {text-align:center;}
td.y {color:green;}
td.n {color:red;}

blockquote {margin:30px;}
blockquote p {font-style:italic;}

footer {border-top:3px solid #eee; margin-bottom:30px;}
footer span {float:left; width:125px;}
