
body {font-family:georgia, serif;}
h1 {font-size:34px; border-bottom:3px solid #eee; padding:20px 0; margin:20px 0;}
p, li, th, td, h4 {font-size:18px; line-height:28px;}
p, ul {margin-bottom:20px;}
h4 {font-size:24px; margin:30px 0 10px 0;}

.posts span {font-family:monospace; margin-right:5px;}
.posts a {margin-left:5px;}

pre code {background-color:inherit; padding:0;}
pre {margin:20px 0;}
code {font-size:13px;}

.tags {margin:30px 0;}
footer {border-top:3px solid #eee; margin-bottom:30px;}

pre, table {margin:30px 0;}
tr.top th, td.y, td.n {text-align:center;}
td.y {color:green;}
td.n {color:red;}
blockquote {margin:30px 100px;}
blockquote p {font-size:24px; line-height:32px; font-style:italic;}
