---
layout: default
title: Stephen McDonald
---
<h6>Blog Posts</h6>
<ul class="unstyled">
    {% for post in site.posts %}
    <li>
        <span class="date">{{ post.date | date_to_string }}</span>
        <span class="arrow">&raquo;</span>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <a class="bar" href="#" title="{{ post.content | number_of_words }} words"
            style="width:{{ post.content | number_of_words | divided_by:7 | plus: 10 }}px;">&nbsp;</a>
    </li>
    {% endfor %}
</ul>

<h6>Blog Tags</h6>
<!-- tag cloud css: font-size:{ tag[1].size | times:2 | plus:12 }px; line-height:28px; -->
<ul class="unstyled tags">
    {% for tag in site.tags %}
    <li>
        <a href="/tag/{{ tag[0] | replace:' ','-' | replace:'.','' }}/">{{ tag[0] }}</a>
        ({{ tag[1].size }}){% unless forloop.last %}, {% endunless %}
    </li>
    {% endfor %}
</ul>

<h6>Open Source Projects</h6>
<ul class="unstyled projects">
    {% for project in site.projects %}
    <li>
        <a href="{{ project.url }}" class="title">{{ project.title }}</a>
        <span class="arrow">&raquo;</span>
        {{ project.desc }} <em>{{ project.tech }}</em></li>
    </li>
    {% endfor %}
</ul>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap-twipsy.js"></script>
<script>
var github = function(repos) {
    var normalize = function(s) {
        return s.toLowerCase().replace(/-| /g, '');
    };
    var named = {};
    $.each(repos.data, function(i, repo) {
        named[normalize(repo.name)] = repo;
    });
    $('.projects li').each(function(i, project) {
        project = $(project);
        var pluralize = function(i) {
            return i != 1 ? 's' : '';
        };
        var repo = named[normalize(project.find('a').text())];
        var css = {width: (((repo.watchers + repo.forks) / 2.3) + 10) + 'px'};
        var title = repo.watchers + ' watcher' + pluralize(repo.watchers) +
                    ' / ' + repo.forks + ' fork' + pluralize(repo.forks);
        var bar = $('<a>').addClass('bar').css(css).attr('title', title);
        $(project).append(bar);
    });
    $('.bar').click(function() {
        return false;
/*    }).mouseover(function() {
       $(this).parent().addClass('over')
    }).mouseout(function() {
       $(this).parent().removeClass('over')
*/
    }).twipsy({placement: 'right', animate: false});
};
$(function() {
    var src = 'https://api.github.com/users/stephenmcd/repos?callback=github';
    $('head').append($('<script>').attr('src', src));
});
</script>
<script src=""></script>
