---
layout: default
title: Stephen McDonald
---
<h6>Blog Posts</h6>
<ul class="unstyled">
    {% for post in site.posts %}
    <li>
        <span class="date">{{ post.date | date_to_string }}</span>
        <span class="arrow">&raquo;</span>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <a class="bar" href="#" style="width:{{ post.content.size | divided_by:70 }}px;">&nbsp;</a>
    </li>
    {% endfor %}
</ul>

<h6>Blog Tags</h6>
<!-- tag cloud css: font-size:{ tag[1].size | times:2 | plus:12 }px; line-height:28px; -->
<ul class="unstyled tags">
    {% for tag in site.tags %}
    <li>
        <a href="/tag/{{ tag[0] | replace:' ','-' | replace:'.','' }}/">{{ tag[0] }}</a>
        ({{ tag[1].size }}){% unless forloop.last %}, {% endunless %}
    </li>
    {% endfor %}
</ul>

<h6>Open Source Projects</h6>
<ul class="unstyled projects">
    {% for project in site.projects %}
    <li>
        <a href="{{ project.url }}">{{ project.title }}</a>
        <span class="arrow">&raquo;</span>
        {{ project.desc }} <em>{{ project.tech }}</em></li>
    </li>
    {% endfor %}
</ul>
