@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:bold);
/*

Copyright Stephen McDonald. Please see LICENSE.
https://github.com/stephenmcd/stephenmcd.github.com/blob/master/LICENSE

*/

.container {width:640px; font-family:'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, sans-serif;}
footer {border-top:3px solid #eee; margin:30px 0;}

h1 {font-size:24px; border-bottom:3px solid #eee; padding:10px 0; margin:20px 0 0 0;}
h4 {margin:20px 0 10px 0; line-height:22px;}
h6 {margin:20px 0 5px 0;}
h6 a {font-weight:normal;}

p, li {line-height:20px;}
.date {font-family:monospace;}
.arrow {margin:0 5px; color:#666;}
.tags li {color:gray; white-space:nowrap; display:inline-block;}
.title {float:left; min-width:150px;}
.projects em {color:#bfbfbf; margin-left:2px;}
.bar {background:#eee; height:13px; margin-top:4px; float:right; cursor:default;}
.bar:hover {text-decoration:none; background:#ccc;}
.totals {text-align:right; font-style:italic; color:#ddd; margin:7px 0 -10px 0; font-size:11px;}
#coderwall {display:none; margin:30px 0 20px 0;}
#coderwall h6 {margin-bottom:10px;}
#coderwall img {width:65px; height:65px; margin:0 9px 3px -3px;}

code {background:#eee;}
pre {background:#222; padding:10px;}
pre code {padding:0; background-color:inherit !important;}
pre code * {
    font-weight:normal !important; background-color:inherit !important;
    text-decoration:none !important;
}
code, code * {font-family: Menlo, Monaco, 'Andale Mono', 'lucida console', 'Courier New', monospace;}
pre, table {margin:20px 0;}

th em {display:block; font-weight:normal; line-height:20px;}
th.r, td.r {text-align:right !important; padding-right:40px !important;}
tr.top th, td.y, td.n {text-align:center;}
td.y {color:green;}
td.n {color:red;}
td a, td em {white-space:nowrap;}
td p {margin:20px 0;}

blockquote {margin:30px;}
blockquote p {font-style:italic;}

img.full {width:100%;}
em.center {text-align:center; display:block; margin:25px 0;}
em img {margin-bottom:5px;}
em a {font-style:italic;}

.footer-right {float:right; width:160px; text-align:right;}
.footer-right img {width:60px; height:60px; float:left;}
.footer-right h2 {text-decoration:none; font-family:'Yanone Kaffeesatz'; font-weight:bold; color:#666;}
.footer-right .jupo:hover {text-decoration:none;}
.footer-right .arrow {margin:0;}
.footer-right .copyright {margin-right:-3px;}

@media all and (max-width: 640px) {
    .container {width:auto; padding-left:10px; padding-right:10px;}
    .bar {display:none;}
    .title, .date {display:block; float:none;}
    footer li {margin-bottom:10px;}
    .footer-right {margin:-10px 5px 0 0;}
    .highlight {overflow-x:scroll;}
    pre {width:618px;}
}

